/* Font: Quicksand */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Font: Raleway */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Style Start Here*/
.primary-btn {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  width: 197px;
  padding: 10px;
  border-radius: 12px;
  background: #111;
}
/* Shared Style End Here */

/* Header Start Here */

/* Navbar style Start Here */

.navbar-1 {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.nav-left-content {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}
.logo-title {
  color: #111;
  font-size: 2rem;
  font-weight: 700;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.nav-middle-content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.nav-middle-home {
  color: #fea301;
  font-size: 1.25rem;
  font-weight: 700;
}
.nav-middle-about {
  color: #01acfd;
  font-size: 1.25rem;
  font-weight: 500;
}
.nav-middle-facilities {
  color: #05d4df;
  font-size: 1.25rem;
  font-weight: 500;
}
.nav-middle-admission {
  color: #5d58ef;
  font-size: 1.25rem;
  font-weight: 500;
}
.nav-right-content {
  display: flex;
  justify-content: end;
  align-items: center;
}
.nav-right-content button {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  width: 197px;
  padding: 10px;
  border-radius: 12px;
  background: #fea301;
  border: none;
}

/* Hero Section Style Start Here */
.banner {
  width: 1440px;
  margin: 0 auto 60px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}
.banner-title {
  color: #111;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 61px;
  margin-bottom: 24px;
}
.empowering {
  color: #fea301;
}
.towards-vision {
  color: #01acfd;
}
.banner-sub-title {
  color: #111;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 24px;
}

/* For mobile responsive */
.navbar-2 {
  display: none;
}
.nav-2-left img,
.nav-2-right img {
  width: 46px;
  height: 46px;
  margin: 10px;
}

/* Header Style End Here */

/* Main Start Style Start */
/* Sec-1 Style Start Here */
.sec-1-main {
  width: 1440px;
  height: 100px;
  display: flex;
  align-items: center;
  margin: 60px auto;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid grey;
}
marquee {
  color: black;
  font-size: 1.6rem;
  font-weight: 500;
}
/* Sec-2 Style Start Here */
.sec-2-main {
    width: 1440px;
    margin: 60px auto;
    background-image: url(./assets/bg.png);
}
.sec-2-title {
    color: #000;
    text-align: center;
    font-size: 2.875rem;
    font-weight: 700;
}
.sec-2-card-div {
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec-2-card-1 {
    display: flex;
    width: 367.805px;
    height: 476.784px;
    padding: 52.819px 40.668px 53.762px 40.878px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18.864px;
    border: 0.943px solid #def5ff;
    gap: 32.069px;
    background-color: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 0) 40%), #fff;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.sec-2-card-1-title {
    width: 100%;
    height: 31.125px;
    color: #202020;
    text-align: center;
    font-size: 1.533rem;
    font-weight: 700;
}
.sec-2-card-1-sub-title {
    color: #808080;
    text-align: center;
    font-family: Raleway;
    font-size: 0.943rem;
    font-weight: 500;
    line-height: 28.296px;
}
.card-1-read-more {
    width: 79.653px;
    height: 18.864px;
    color: #64c8ff;
    text-align: center;
    font-size: 15.091px;
    font-weight: 700;
}
.sec-2-card-2 {
    display: flex;
  width: 367.805px;
  height: 481.5px;
  padding: 52.819px 40.668px 53.762px 40.878px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32.069px;
  border-radius: 18.864px;
  border: 0.943px solid #fff4dc;
  background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.sec-2-card-2-title {
    width: 100%;
    height: 31.125px;
    color: #202020;
    text-align: center;
    font-size: 1.533rem;
    font-weight: 700;
}
.sec-2-card-2-sub-title {
    color: #808080;
    text-align: center;
    font-family: Raleway;
    font-size: 0.943;
    font-weight: 500;
    line-height: 28.296px;
}
.card-2-read-more {
    width: 79.653px;
    height: 18.864px;
    color: #f0aa00;
    text-align: center;
    font-size: 15.091px;
    font-weight: 700;
}
.sec-2-card-3 {
    display: flex;
    width: 367.805px;
    height: 476.784px;
    padding: 52.819px 40.668px 53.762px 40.668px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32.069;
    border-radius: 18.864px;
    border: 0.943px solid #f2e8ff;
    background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%), #fff;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.25) inset;
}
.sec-2-card-3-title {
    width: 100%;
    height: 31.125px;
    color: #202020;
    text-align: center;
    font-size: 1.533rem;
    font-weight: 700;
}
.sec-2-card-3-sub-title {
    color: #808080;
    text-align: center;
    font-weight: Raleway;
    font-size: 0.943px;
    font-weight: 500;
    line-height: 28.296px;
}
.card-3-read-more {
    width: 79.653px;
    height: 18.864px;
    color: #8700ff;
    text-align: center;
    font-size: 15.091px;
    font-weight: 700;
}
.sec-3-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sec-3-btn1, .sec-3-btn2 {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    width: 60px;
    height: 60px;
    padding: 17px 0px 19px 0px;
    border-radius: 30px;
    background: #fea301;
    border: none;
}

/* Main Style End Here */

/* Footer Style Start Here */
/* Footer Style End Here */

/* Mobile Responsive Styles Start Here */
@media screen and (max-width: 576px) {
  .navbar-1 {
    display: none;
  }
  .navbar-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid #fea301;
  }
  .banner {
    width: 100%;
    flex-direction: column;
    padding: 0 10px;
  }
  .banner .left-content {
    order: 2;
  }
  .banner .right-content {
    order: 1;
  }
  .banner-title,
  .banner-sub-title {
    text-align: center;
  }
  br {
    display: none;
  }
  .button-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-right-img {
    width: 100%;
  }
  .sec-1-main {
    width: 100%;
  }
  .sec-2-main, .sec-2-card-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sec-2-card-div {
    gap: 15px;
    padding: 0 20px;
  }
  .sec-3-btn {
    display: none;
  }
  .sec-2-card-1, .sec-2-card-2, .sec-2-card-3 {
    width: 100%;
  }
}
/* Mobile Responsive Styles End Here */
